*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #95D600;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 25%;
}
button{
    height: 100%;
    background-color: black;
    border-radius: 2em;
    border-color: #95D600;
    width: 100%;
    animation-name: breathing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
p{
    font-size: 2em;
    margin-left: 2em;
    margin-right: 2em;
}
a{
    text-decoration: none;
    height: 30%;
    width: 30%;
}
a:visited, a:focus{
    text-decoration: none;
    color:#95D600;
}

@keyframes breathing{
    from {-webkit-box-shadow: 0px 0px 50px 7px rgba(149,214,0,0); 
        box-shadow: 0px 0px 50px 7px rgba(149,214,0,0);}
    to{-webkit-box-shadow: 0px 0px 50px 7px rgba(149,214,0,1); 
        box-shadow: 0px 0px 50px 7px rgba(149,214,0,1);}
}
