@font-face {
  font-family: "clockFont";
  src: url("../fonts/digital-7.ttf");
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #95D600;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
input{
    background-color: black;
    width: 35%;
    height: 5%;
    border-color:#95D600;
    margin-bottom: 3%;
    -webkit-box-shadow: 0px 0px 50px 7px rgba(149,214,0,0.7); 
    box-shadow: 0px 0px 50px 7px rgba(149,214,0,0.7);
    font-size: 1.2em;
}
input:hover, #btn:hover{
    -webkit-box-shadow: 0px 0px 50px 7px #95D600; 
    box-shadow: 0px 0px 50px 7px #95D600;
}
input:focus{
    outline: none; 
}
#btn{
    background-color: black;
    border-radius: 10px;
    width: 15%;
    border-color:#95D600;
    -webkit-box-shadow: 0px 0px 50px 7px rgba(149,214,0,0.7); 
    box-shadow: 0px 0px 50px 7px rgba(149,214,0,0.7);
}
#join-cont{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clock{
  position: absolute;
  top: 65px;
  left: 65px;
  color: bisque;
  display: flex;
  font-size: 64px;
  font-family: "clockFont";
}

img{
    width: 25%;
    margin-bottom: 3%;
}
div{
    display: none;
}
#root, #controls{
    display: none;
}
#players{
    display: none;
    position: fixed;
    left: 5px;
    bottom: 5px;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    height: 20%;
    border-radius: 5%;
    color: white;
}
#player1, #player2{
    word-wrap: break-word;
}

#monitor1, #monitor2{
  display: none;
}

#loading{
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.loader {
    position: relative;
    width: 80px;
    height: 30px;
    margin: 100px auto;
    display: flex;
    top: 30%;
  }

  .loader * {
      display: flex;
  }
  
  .duo {
    height: 20px;
    width: 50px;
    background: hsla(0, 0%, 0%, 0.0);
    position: absolute;
    
  }
  
  .duo, .dot {
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .duo1 {
    left: 0;
  }
  
  .duo2 {
    left: 30px
  }
  
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #ddd;
    position: absolute;
  }
  
  .dot-a {
    left: 0px;  
  }
  
  .dot-b {
    right: 0px;
  }
  
  
  @keyframes spin {
      0% { transform: rotate(0deg) }
     50% { transform: rotate(180deg) }
    100% { transform: rotate(180deg) }
  }
  
  @keyframes onOff {
      0% { opacity: 0; }
     49% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 1; }
  }
  
  .duo1 {
    animation-name: spin;
  }
  
  .duo2 {
    animation-name: spin;
    animation-direction: reverse;
  }
  
  .duo2 .dot-b {
    animation-name: onOff;
  }
  
  .duo1 .dot-a {
    opacity: 0;
    animation-name: onOff;
    animation-direction: reverse;
  }
  #audio{
    display: none;
  }
  #win-lose{
    background-image: none;
    display: none;
    animation-direction: reverse;
    animation-name: endAnimation;
    width: 200px;
    height: 133px;
    animation-duration: 1s;
    position: absolute;
    z-index: 2;
    animation-iteration-count: infinite;
  }
  @keyframes endAnimation{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  #timer{
    color: #ffff;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'clockFont';
    display: none;
  }
  #timer > span{
    font-family: 'clockFont';
    font-size: 5em;
  }